# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment configuration files
.env
*.env
env.local

# IDE-specific files
.idea/
*.vscode/
*.DS_Store

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Build files
/build/
dist/

# Log files
*.log
logs/
*.log.* 

# Go build artefacts
smaystr-bot*

# CI/CD temp directories
/.tmp/
tmp/
.tmprc

# Temp setup files
xqwatcher_helper.py
init_edx.py
edx/
